@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/exchangeoffersuccess"
@inject HttpClient Http
@inject TokenService tokenService
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="container">
    <div class="row">
        <div class="col-sm-2" />
        <div class="col-sm-8">
            <div class="alert alert-success" style="text-align:center" role="alert">
                <br />
                <div class="row justify-content-center">
                    <i class="far fa-check-circle" style="font-size: 60px"></i>
                </div>
                <br />
                Exchange was successfully offered!
                <br />
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3" />
        <div class="col-sm-3">
            <a role="button" class="btn btn-secondary btn-block" href="/myprofile">Back to profile</a>
        </div>
        <div class="col-sm-3">
            <a role="button" class="btn btn-secondary btn-block" href="/myexchanges">My exchanges</a>
        </div>
    </div>
</div>