@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/logoutsuccess"
@inject HttpClient Http
@inject TokenService tokenService
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="alert alert-success" role="alert">
    You have successfully logged out
</div>