@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/fillprofile"
@inject HttpClient Http
@inject TokenService tokenService
@inject ReloadService reloadService
@inject AppState appState
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h2>Thank you for registering!</h2>
<h3>Plese provide additional details before you get started:</h3>
<br />

<ValidateProfile OnSubmit="SubmitForm" UserProfile="Profile">
    <div class="row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary btn-block">Create profile</button>
        </div>
    </div>
</ValidateProfile>

@functions{
    public UserView Profile { get; set; } = new UserView();

    protected override async Task OnInitAsync()
    {
        appState.TrySetAccessTokens();
        if (!appState.IsUserLoggedIn)
        {
            UriHelper.NavigateTo("/unauthorized");
        }
        else
        {
            var profileExists = await Http.GetJsonAsync<bool>("http://localhost:5000/api/users/profile");
            if (profileExists)
            {
                UriHelper.NavigateTo("/edit");
            }
        }
        var email = await Http.GetJsonAsync<string>("http://localhost:5000/api/users/profile/email");
        Profile.ContactEmail = email;
    }

    private async Task SubmitForm(UIEventArgs args)
    {
        if (Profile.ImageUrl == null)
            Profile.ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png";

        await Http.PostJsonAsync("http://localhost:5000/api/users/profile", Profile);
        if (await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/myprofile") != null)
        {
            await reloadService.ReloadPage();
            UriHelper.NavigateTo("/myprofile");
        }
    }
}
