@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/logout"
@inject HttpClient Http
@inject TokenService tokenService
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h5>Do you want to log out?</h5>
<button onclick="@LogOut">Confirm</button>

@functions{

    private async Task LogOut()
    {
        await tokenService.RemoveAccessToken();
if(await tokenService.GetAccessToken() == null)
{

        UriHelper.NavigateTo("/logoutsuccess");
}

    }
}