@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/logout"
@inject HttpClient Http
@inject TokenService tokenService
@inject AppState appState
@inject ReloadService reloadService
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<form>
    <h5>Do you want to log out?</h5>
    <button type="button" class="btn btn-danger" onclick="@LogOut">Confirm</button>
</form>

@functions{

    private async Task LogOut()
    {
        await tokenService.RemoveAccessToken();
        appState.LogOutUser();
        if (await tokenService.GetAccessToken() == null)
        {
            reloadService.ReloadPage();
            UriHelper.NavigateTo("/logoutsuccess");
        }
    }
}