@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/game/{GameId}"
@inject HttpClient Http
@inject TokenService tokenService
@inject AppState appState
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h3>@GameView.Title</h3>
<br />
<GameDetails Game="GameView"/>


@functions {
    [Parameter]
    string GameId { get; set; }
    GameView GameView { get; set; } = new GameView();

    protected override async Task OnInitAsync()
    {
        appState.TrySetAccessTokens();
        GameView = await Http.GetJsonAsync<GameView>("http://localhost:5000/api/games/getview/" + GameId);
    }
}
