@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/register"
@inject HttpClient Http
@inject TokenService tokenService
@inject AppState appState
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<form>
    <h1>Register</h1>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" class="form-control" bind="@Email" />
        @if (!isEmailValid)
        {
            <p class="font-italic" style="color: red">User with that e-mail is already registered.</p>
        }
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control" bind="@Password" />
    </div>

    @if (errors.Count() > 0)
    {
        <br />
        <div class="alert alert-danger" role="alert">
            <br />
            @foreach (var error in errors)
            {
                <p class="font-italic">@error</p>
            }
        </div>
    }

    <button type="button" class="btn btn-primary" onclick="@SubmitForm">Create an account</button>
</form>

@functions{
    public string Email { get; set; } = "";
    public string Password { get; set; } = "";
    public bool isValid = false;
    public List<string> errors = new List<string>();
    const int MIN_LENGTH = 8;
    const int MAX_LENGTH = 15;
    bool isEmailValid = true;

    protected override void OnInit()
    {
        if (appState.IsUserLoggedIn)
        {
            UriHelper.NavigateTo($"/alreadylogged");
        }
    }

    private async Task SubmitForm()
    {
        errors.Clear();
        ValidateInputs();
        await IsEmailUnique();
        if (isValid && isEmailValid)
        {
            var tokenvm = new TokenViewModel
            {
                Email = Email,
                Password = Password
            };
            await Http.PostJsonAsync("http://localhost:5000/api/token/register", tokenvm);
            var response = await Http.PostJsonAsync<TokenResponse>("http://localhost:5000/api/token/login", tokenvm);
            await tokenService.SaveAccessToken(response.Token);
            appState.LogUser(response.Token);
            if (!string.IsNullOrEmpty(await tokenService.GetAccessToken()))
            {
                UriHelper.NavigateTo("/fillprofile");
            }
        }
    }

    private void ValidateInputs()
    {
        if (!Email.Contains("@"))
            errors.Add("Email has invalid format.");
        if (Password.Length < MIN_LENGTH || Password.Length > MAX_LENGTH)
            errors.Add("Passwords lenght has to be between " + MIN_LENGTH + " and " + MAX_LENGTH + ".");

        bool hasUpperCaseLetter = false;
        bool hasLowerCaseLetter = false;
        bool hasDecimalDigit = false;
        bool hasSymbol = false;
        foreach (char c in Password)
        {
            if (char.IsUpper(c)) hasUpperCaseLetter = true;
            else if (char.IsLower(c)) hasLowerCaseLetter = true;
            else if (char.IsDigit(c)) hasDecimalDigit = true;
            else if (!char.IsLetterOrDigit(c)) hasSymbol = true;
        }
        if (!hasUpperCaseLetter)
            errors.Add("Password has to contain at least one upper case letter.");
        if (!hasLowerCaseLetter)
            errors.Add("Password has to contain at least one lower case letter.");
        if (!hasDecimalDigit)
            errors.Add("Password has to contain at least one digit.");
        if (!hasSymbol)
            errors.Add("Password has to contain at least one symbol.");

        isValid = errors.Count() == 0;
        StateHasChanged();
    }

    private async Task<bool> IsEmailUnique()
    {
        Console.WriteLine("check email");
        var userExists = await Http.GetJsonAsync<bool>("http://localhost:5000/api/users/exists/" + Email);
        isEmailValid = userExists ? false : true;
        return isEmailValid;
    }

    private class TokenResponse
    {
        public string Token;
    }
}