@inherits BlazorLayoutComponent

<div class="container-fluid">
    <div class="main">
        <NavMenu bind-isDropdownOpen="@ParentDropdown" />
        <div onclick="@CloseNavDropdown">
            <div class="content px-4 w-75 ml-auto mr-auto " style="min-height:87vh">
                @Body
            </div>
        </div>
        <div class="row justify-content-center">
            <div style="bottom:0; width:70%">
                <div class="bg-secondary text-light p-2 mt-2 mb-2 " role="alert" style="width:100%; border-radius:5px">
                    <div style="padding:3px">
                        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
                        <text>
                            <strong>Problems? </strong>
                            Contact us at
                            <text class="font-italic">helper@exchanges.com.</text>
                        </text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {

[Parameter]
private bool ParentDropdown { get; set; } = false;

void CloseNavDropdown()
{
    ParentDropdown = false;
}
}