@inherits BlazorLayoutComponent

<div class="container-fluid">
    <div class="main">
        <NavMenu bind-isDropdownOpen="@ParentDropdown" />
        <div onclick="@CloseNavDropdown">
            <div class="content px-4 w-75 ml-auto mr-auto">
                @Body
            </div>
        </div>
    </div>
</div>

@functions {

    [Parameter]
    private bool ParentDropdown { get; set; } = false;

    void CloseNavDropdown()
    {
        ParentDropdown = false;
    }
}