@inherits BlazorLayoutComponent

<div class="container-fluid">
    <div class="main">
        <NavMenu />
        <div class="content px-4 w-75 ml-auto mr-auto">
            @Body
        </div>
    </div>
</div>
